#widgetu104.fld-err-st #u105
{
	background: url("../images/u105-ferr.png") no-repeat 0px 0px;
}

#widgetu137.fld-err-st #u140
{
	background: url("../images/u140-ferr.png") no-repeat 0px 0px;
}

#widgetu99.fld-err-st #u100
{
	background: url("../images/u100-ferr.png") no-repeat 0px 0px;
}

#widgetu109.fld-err-st #u111
{
	background: url("../images/u111-ferr.png") no-repeat 0px 0px;
}

.version.index /* version checker */
{
	color: #0000F1;
	background-color: #50C5A2;
}

.html
{
	background-color: #FF00CB;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1882px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;
}

#pu173
{
	width: 0.01px;
	margin-left: -100px;
}

#u173
{
	z-index: 2;
	min-height: 108px;
	background-color: #D100B1;
	padding-bottom: 12px;
}

#u85
{
	z-index: 35;
	width: 256px;
	height: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 14px;
	background: transparent url("../images/logo.png") no-repeat left top;
	background-size: contain;
}

#u81-5
{
	z-index: 22;
	position: relative;
	width: 168px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 327px;
}

#u144
{
	z-index: 134;
	width: 30px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 625px;
	background: transparent url("../images/icon-white.png") no-repeat left top;
	background-size: contain;
}

#u157-4
{
	z-index: 136;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 662px;
}

#u150
{
	z-index: 135;
	width: 26px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 806px;
	background: transparent url("../images/whatsapp-xxl.png") no-repeat left top;
	background-size: contain;
}

#u159-4
{
	z-index: 140;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 841px;
}

#u123
{
	z-index: 127;
	width: 30px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 1008px;
	background: transparent url("../images/instagram-icon-white.png") no-repeat left top;
	background-size: contain;
}

#u130
{
	z-index: 128;
	width: 30px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 1053px;
	background: transparent url("../images/vk_com.png") no-repeat left top;
	background-size: contain;
}

#u173-bw
{
	z-index: 2;
	min-height: 108px;
}

#u190-4
{
	z-index: 148;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 989px;
}

#buttonu191
{
	z-index: 152;
	width: 114px;
	border-color: #787878;
	background-color: #FF00CB;
	border-radius: 38px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 495px;
}

#buttonu191:hover
{
	background-color: #7F0066;
	width: 114px;
	min-height: 0px;
	margin: 52px -10000px 0px 0px;
}

#buttonu191.ButtonSelected
{
	background-color: #FF00CB;
	width: 114px;
	min-height: 0px;
	margin: 52px -10000px 0px 0px;
}

#u192
{
	z-index: 154;
	height: 12px;
	width: 114px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: url("../images/u192.png") no-repeat 0px 0px;
}

#buttonu191:hover #u192
{
	background: url("../images/u192-r.png") no-repeat 0px 0px;
}

#u262-4
{
	z-index: 172;
	position: relative;
	width: 132px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 345px;
}

#u81-5_img,#u157-4_img,#u159-4_img,#u262-4_img
{
	display: block;
	vertical-align: top;
}

#u200
{
	z-index: 4;
	min-height: 24px;
	background-color: #B2009A;
	padding-bottom: 5px;
}

#u200_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	margin-bottom: -1px;
}

#buttonu202
{
	z-index: 157;
	width: 114px;
	border-color: #787878;
	background-color: #FF00CB;
	border-radius: 38px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 270px;
}

#buttonu202:hover
{
	background-color: #7F0066;
	width: 114px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u203
{
	z-index: 159;
	height: 12px;
	width: 114px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: url("../images/u203.png") no-repeat 0px 0px;
}

#buttonu202:hover #u203
{
	background: url("../images/u203-r.png") no-repeat 0px 0px;
}

#buttonu204
{
	z-index: 161;
	width: 114px;
	border-color: #787878;
	background-color: #FF00CB;
	border-radius: 38px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 524px;
}

#buttonu204:hover
{
	background-color: #7F0066;
	width: 114px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u205
{
	z-index: 163;
	height: 12px;
	width: 114px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: url("../images/u205.png") no-repeat 0px 0px;
}

#buttonu204:hover #u205
{
	background: url("../images/u205-r.png") no-repeat 0px 0px;
}

#buttonu206
{
	z-index: 165;
	width: 114px;
	border-color: #787878;
	background-color: #FF00CB;
	border-radius: 38px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 778px;
}

#buttonu206:hover
{
	background-color: #7F0066;
	width: 114px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#buttonu202.ButtonSelected,#buttonu204.ButtonSelected,#buttonu206.ButtonSelected
{
	background-color: #FF00CB;
	width: 114px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u207
{
	z-index: 167;
	height: 12px;
	width: 114px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: url("../images/u207.png") no-repeat 0px 0px;
}

#buttonu206:hover #u207
{
	background: url("../images/u207-r.png") no-repeat 0px 0px;
}

#u200-bw
{
	z-index: 4;
	min-height: 24px;
	margin-top: -1px;
}

#u94-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	margin-left: 374px;
	margin-top: 113px;
	position: relative;
}

#u95-17
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 296px;
	position: relative;
}

#sotrudniki
{
	margin-left: 441px;
	margin-top: 75px;
	position: relative;
}

#u223
{
	z-index: 5;
	min-height: 313px;
	background-color: #FFFFFF;
	padding-bottom: 43px;
}

#u173_align_to_page,#u223_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u182
{
	z-index: 7;
	width: 167px;
	background-color: #D100B5;
	padding-bottom: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 292px;
}

#u185-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 2px;
}

#pu83-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: 496px;
}

#u83-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#u186
{
	z-index: 12;
	width: 164px;
	background-color: #D100B5;
	padding-left: 3px;
	padding-top: 8px;
	padding-bottom: 114px;
	margin-top: 28px;
	position: relative;
}

#partnery
{
	margin-left: 50px;
	position: relative;
}

#u187-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 91px;
	position: relative;
}

#u188
{
	z-index: 17;
	width: 167px;
	background-color: #D100B5;
	padding-bottom: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 701px;
}

#u189-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 3px;
}

#u223-bw
{
	z-index: 5;
	min-height: 313px;
	margin-top: 20px;
}

#u84-4
{
	z-index: 31;
	display: block;
	vertical-align: top;
	margin-left: 408px;
	margin-top: 11px;
	position: relative;
}

#zvonok
{
	margin-left: 449px;
	position: relative;
}

#u93-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	margin-left: 77px;
	margin-top: 10px;
	position: relative;
}

#pu242
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 34px;
}

#u242
{
	z-index: 6;
	min-height: 411.5000000000001px;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#u242_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 15px;
	padding-bottom: 4px;
}

#u96-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	left: 500px;
	position: relative;
}

#karta
{
	left: 542px;
	margin-top: 352px;
	position: relative;
}

#u242-bw
{
	z-index: 6;
	min-height: 411.5000000000001px;
}

#widgetu97
{
	z-index: 65;
	width: 0.01px;
	height: 316px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 410px;
}

#widgetu104
{
	z-index: 66;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu104.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u105
{
	z-index: 68;
	height: 20px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../images/u105.png") no-repeat 0px 0px;
}

#u106-4
{
	z-index: 70;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #E0E0E0;
	padding: 6px;
	line-height: 14px;
	color: #7A7A7A;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu104.non-empty-st #u106-4
{
	background-color: #FFFFFF;
}

#widgetu104:hover #u106-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu104.focus-st #u106-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu104.non-empty-st #u106-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu104:hover #u106-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu104.focus-st #u106-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu99
{
	z-index: 74;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu99.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u100
{
	z-index: 76;
	height: 20px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../images/u100.png") no-repeat 0px 0px;
}

#u101-4
{
	z-index: 78;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #E0E0E0;
	padding: 6px;
	line-height: 14px;
	color: #7A7A7A;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu99.non-empty-st #u101-4
{
	background-color: #FFFFFF;
}

#widgetu99:hover #u101-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu99.focus-st #u101-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu99.non-empty-st #u101-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu99:hover #u101-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu99.focus-st #u101-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u103-4
{
	z-index: 82;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu97.frm-sub-st #u103-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u98-4
{
	z-index: 86;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu97.frm-subm-err-st #u98-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u113-4
{
	z-index: 90;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu97.frm-sub-st #u103-4,#widgetu97.frm-subm-err-st #u98-4,#widgetu97.frm-subm-ok-st #u113-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu97.frm-subm-ok-st #u113-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u108-17
{
	z-index: 94;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	background: url("../images/u108-17.png") no-repeat 0px 0px;
}

#u108-17:hover
{
	background: url("../images/u108-17-r.png") no-repeat 0px 0px;
}

#u108-17:active
{
	background: url("../images/u108-17-m.png") no-repeat 0px 0px;
}

#widgetu97.frm-sub-st #u108-17
{
	background: url("../images/u108-17-fs.png") no-repeat 0px 0px;
}

#widgetu109
{
	z-index: 111;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: -1px;
}

#widgetu109.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 178px -10000px 0px 0px;
}

#u111
{
	z-index: 113;
	height: 20px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../images/u111.png") no-repeat 0px 0px;
}

#u112-4
{
	z-index: 115;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #E0E0E0;
	padding: 6px;
	line-height: 14px;
	color: #7A7A7A;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu109.non-empty-st #u112-4
{
	background-color: #FFFFFF;
}

#widgetu109:hover #u112-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu109.focus-st #u112-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu109.fld-err-st #u112-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu109.non-empty-st #u112-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu109:hover #u112-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu109.focus-st #u112-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu109_input,#widgetu109_prompt
{
	width: 328px;
	min-height: 68px;
	color: #7A7A7A;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu137
{
	z-index: 119;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu137.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u140
{
	z-index: 121;
	height: 20px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../images/u140.png") no-repeat 0px 0px;
}

#u139-4
{
	z-index: 123;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #E0E0E0;
	padding: 6px;
	line-height: 14px;
	color: #7A7A7A;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu137.non-empty-st #u139-4
{
	background-color: #FFFFFF;
}

#widgetu137:hover #u139-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu137.focus-st #u139-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu104.fld-err-st #u106-4,#widgetu99.fld-err-st #u101-4,#widgetu137.fld-err-st #u139-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu137.non-empty-st #u139-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu137:hover #u139-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu137.focus-st #u139-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu104.fld-err-st #u106-4 *,#widgetu99.fld-err-st #u101-4 *,#widgetu109.fld-err-st #u112-4 *,#widgetu137.fld-err-st #u139-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu104_input,#widgetu104_prompt,#widgetu99_input,#widgetu99_prompt,#widgetu137_input,#widgetu137_prompt
{
	width: 328px;
	min-height: 14px;
	color: #7A7A7A;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu104.focus-st #widgetu104_prompt,#widgetu99.focus-st #widgetu99_prompt,#widgetu109.focus-st #widgetu109_prompt,#widgetu137.focus-st #widgetu137_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu104:hover #widgetu104_input,#widgetu104.focus-st #widgetu104_input,#widgetu104.fld-err-st #widgetu104_input,#widgetu104:hover #widgetu104_prompt,#widgetu104.fld-err-st #widgetu104_prompt,#widgetu99:hover #widgetu99_input,#widgetu99.focus-st #widgetu99_input,#widgetu99.fld-err-st #widgetu99_input,#widgetu99:hover #widgetu99_prompt,#widgetu99.fld-err-st #widgetu99_prompt,#widgetu109:hover #widgetu109_input,#widgetu109.focus-st #widgetu109_input,#widgetu109.fld-err-st #widgetu109_input,#widgetu109:hover #widgetu109_prompt,#widgetu109.fld-err-st #widgetu109_prompt,#widgetu137:hover #widgetu137_input,#widgetu137.focus-st #widgetu137_input,#widgetu137.fld-err-st #widgetu137_input,#widgetu137:hover #widgetu137_prompt,#widgetu137.fld-err-st #widgetu137_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu104.non-empty-st #widgetu104_prompt,#widgetu99.non-empty-st #widgetu99_prompt,#widgetu109.non-empty-st #widgetu109_prompt,#widgetu137.non-empty-st #widgetu137_prompt
{
	visibility: hidden;
}

#u143-4
{
	z-index: 130;
	display: block;
	vertical-align: top;
	margin-left: 427px;
	margin-top: 7px;
	position: relative;
}

#u174
{
	z-index: 3;
	min-height: 506.6500000000001px;
	background-color: #D100B5;
	padding-bottom: 0px;
}

#u174_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 68px;
	padding-bottom: 3px;
	margin-bottom: -48px;
}

#u141
{
	z-index: 129;
	width: 727px;
	min-height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 216px;
	position: relative;
}

#u165-4
{
	z-index: 144;
	display: block;
	vertical-align: top;
	left: 519px;
	margin-top: 19px;
	position: relative;
}

#u174-bw
{
	z-index: 3;
	min-height: 506.6500000000001px;
	margin-top: -48px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

